/*.container {*/
/*display: grid;*/
/*grid-template-columns: repeat(12, 1fr);*/
/*}*/

/*.container .header {*/
/*grid-column: span 12;*/

/*height: 100px;*/
/*background-color: red;*/
/*}*/

/*.container .menu {*/
/*grid-column: span 12;*/

/*height: 100px;*/
/*background-color: black;*/
/*}*/

/*.container .content {*/
/*grid-column: span 12;*/

/*height: 100px;*/
/*background-color: green;*/
/*}*/

/*.container .footer {*/
/*grid-column: span 12;*/

/*height: 100px;*/
/*background-color: orange;*/
/*}*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

.header-container-top {
    max-width: 100vmin;
    padding: 4vmin;
    margin: 0 auto;
}

.grid-item {
    background-color: #eeeeee;
    overflow: hidden;
    border-radius: 4px;
    padding: 16px;
}

.grid-item .title {
    font-size: 210%;
    text-transform: uppercase;
    margin: 8px 0px 24px;
    display: inline-block;
}

.grid-item .title p {
    margin: 1px;
}

.grid-item .web-image-img {
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
}

.template-overlay {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.template-overlay.active {
    pointer-events: auto;
}

.overlay-grid-item {
    overflow-y: scroll;
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.overlay-grid-item .header,
.overlay-grid-item .text {
    opacity: 0;
    font-family: sans-serif;
}

.overlay-grid-item .text {
    font-size: 150%;
}

.overlay-grid-item .header {
    font-size: 350%;
    padding-top: 4vmin;
    display: inline-block;
    padding-bottom: 4vmin;
}

.overlay-grid-item .header-container {
    height: 100px;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    opacity: 0.4;
    background-color: white;
    width: 100%;
}

.overlay-grid-item .header-container .header-scroll {
    font-size: 350%;
    max-width: 1300px;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-left: 4vmin;
    padding-right: 4vmin;
    text-transform: uppercase;
}

.overlay-grid-item .content-container {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    padding-left: 4vmin;
    padding-right: 4vmin;
    padding-top: 100px;
}

.overlay-grid-item .intro {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    display: block;
    box-sizing: border-box;
    background-color: gainsboro;
    border-radius: 4px;
}

.overlay-grid-item-photo img {
    width: 100%;
}

.overlay-close {
    font-size: 400%;
    font-weight: bold;
    padding-left: 4vmin;
    position: absolute;
}

.web-image {
    width: 800px;
    border: 1px solid red;
}

.web-image img {
    width: 100%;
    display: block;
}

.grid-item-container {
    padding: 4vmin;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: 100vmin;
}

@media screen and (max-device-width: 768px ) {
    .grid-item-container {
        grid-row-gap: 35px;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-device-width: 1600px ) {
    .overlay-grid-item .header-container .header-scroll {
        padding-left: 100px;
    }
}

