/*.container {*/
    /*display: grid;*/
    /*grid-template-columns: repeat(12, 1fr);*/
/*}*/

/*.container .header {*/
    /*grid-column: span 12;*/

    /*height: 100px;*/
    /*background-color: red;*/
/*}*/

/*.container .menu {*/
    /*grid-column: span 12;*/

    /*height: 100px;*/
    /*background-color: black;*/
/*}*/

/*.container .content {*/
    /*grid-column: span 12;*/

    /*height: 100px;*/
    /*background-color: green;*/
/*}*/

/*.container .footer {*/
    /*grid-column: span 12;*/

    /*height: 100px;*/
    /*background-color: orange;*/
/*}*/

html, body {
    margin: 0;
    padding: 0;
}

.header-container-top {
    max-width: 100vmin;
    padding: 4vmin;
    margin: 0 auto;
}

.grid-item {
    background-color: gray;
    overflow: hidden;
}

.grid-item .web-image-img {
    width: 100%;
}

.template-overlay {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.template-overlay.active {
    pointer-events: auto;
}

.overlay-grid-item {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 4vmin;
    box-sizing: border-box;
}

.overlay-grid-item .header,
.overlay-grid-item .text {
    opacity: 0;
}

.overlay-grid-item .text {
    font-size: 150%;
}

.overlay-grid-item .header {
    font-size: 350%;
}

.overlay-grid-item .header-container {
    height: 150px;
}

.overlay-grid-item .content-container {
    height: calc(100% - 150px);
    overflow-y: scroll;
}

.overlay-grid-item .intro {
    width: 100%;
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto 10px;
    display: block;
    box-sizing: border-box;
    background-color: gainsboro;
}

.overlay-grid-item-photo img {
    width: 100%;
}

.overlay-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 400%;
    font-weight: bold;
}

.web-image {
    width: 800px;
    border: 1px solid red;
}

.web-image img {
    width: 100%;
    display: block;
}

.grid-item-container {
    padding: 4vmin;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: 100vmin;
}

@media screen and (max-width: 680px ) {
    .grid-item-container {
        grid-row-gap: 35px;
        grid-template-columns: 1fr;
    }
}